export SOPS_AGE_KEY_FILE=$(pwd)/.age/keys.txt
export KUBECONFIG=$PWD/.kubeconfig
export TALOSCONFIG=$PWD/.talosconfig

# Load S3/MinIO credentials
source .envrc.s3creds
env_vars_required AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY AWS_ENDPOINT_URL_S3
