# Secrets 
.envrc.s3creds
.age/
.talosconfig
.kubeconfig
kubeconfig-*

# Terraform/OpenTofu files with real values
terraform.tfvars

# Terraform state and lock files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# OpenTofu cache
.tofu/

# Other
notes